{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "es5",
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "importOrder": [
    "^react$",
    "^react-dom$",
    "<THIRD_PARTY_MODULES>",
    "^src/app/(.*)$",
    "^src/pages/(.*)$",
    "^src/widgets/(.*)$",
    "^src/features/(.*)$",
    "^src/entities/(.*)$",
    "^src/shared/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}